#content {
	MARGIN-LEFT: 230px; BACKGROUND-COLOR: transparent
}
#sidebar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; WIDTH: 220px; PADDING-TOP: 0px
}
#leftHalf {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; WIDTH: 300px; PADDING-TOP: 0px
}
#rightHalf {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 310px; WIDTH: 300px; PADDING-TOP: 0px
}
#position {
	MARGIN-TOP: 0px; PADDING-TOP: 0px
}
DIV.portalContent P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 6px 8px 0px; PADDING-TOP: 0px
}
DIV.header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 8px; PADDING-TOP: 0px
}
#accordionExample {
	WIDTH: 500px
}
#formLetterAccordion {
	FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif
}
BODY {
	FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif
}
BODY {
	BACKGROUND: #fff
}
.mainContent P {
	FONT-SIZE: 14px
}
.mainheader {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
A:visited {
	FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif
}
A:link {
	FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif
}
A:hover {
	FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif
}
A:visited {
	COLOR: black; TEXT-DECORATION: none
}
A:link {
	COLOR: black; TEXT-DECORATION: none
}
A:hover {
	COLOR: black; TEXT-DECORATION: underline
}
A.menuLink:visited {
	COLOR: #cccccc
}
A.menuLink:link {
	COLOR: #cccccc
}
DIV.mdBlueBox A:visited {
	COLOR: white
}
DIV.mdBlueBox A:link {
	COLOR: white
}
A.menuLink:hover {
	COLOR: white
}
DIV.mdBlueBox A:hover {
	COLOR: white
}
.menuLink {
	MARGIN-RIGHT: 25px
}
DIV.portalContent A:visited {
	COLOR: black; TEXT-DECORATION: underline
}
DIV.portalContent A:link {
	COLOR: black; TEXT-DECORATION: underline
}
DIV.portalContent A:hover {
	TEXT-DECORATION: underline
}
#leftHalf A:visited {
	COLOR: white
}
#leftHalf A:link {
	COLOR: white
}
#rightHalf A:visited {
	COLOR: white
}
#rightHalf A:link {
	COLOR: white
}
.demoLinks {
	DISPLAY: block
}
.bigText {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: rgb(30,69,82); FONT-FAMILY: Trebuchet MS, Arial
}
.menuBox {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; FONT-FAMILY: Trebuchet MS, Verdana, Arial; BACKGROUND-COLOR: rgb(206,222,189)
}
.clearBox {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; FONT-FAMILY: Trebuchet MS, Verdana, Arial; BACKGROUND-COLOR: rgb(206,222,189)
}
.ltOliveBox {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; FONT-FAMILY: Trebuchet MS, Verdana, Arial; BACKGROUND-COLOR: rgb(206,222,189)
}
.mdOliveBox {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; FONT-FAMILY: Trebuchet MS, Verdana, Arial; BACKGROUND-COLOR: rgb(206,222,189)
}
.dkOliveBox {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; FONT-FAMILY: Trebuchet MS, Verdana, Arial; BACKGROUND-COLOR: rgb(206,222,189)
}
.ltBlueBox {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; FONT-FAMILY: Trebuchet MS, Verdana, Arial; BACKGROUND-COLOR: rgb(206,222,189)
}
.mdBlueBox {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; FONT-FAMILY: Trebuchet MS, Verdana, Arial; BACKGROUND-COLOR: rgb(206,222,189)
}
.dkBlueBox {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; FONT-FAMILY: Trebuchet MS, Verdana, Arial; BACKGROUND-COLOR: rgb(206,222,189)
}
.portalBox {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; FONT-FAMILY: Trebuchet MS, Verdana, Arial; BACKGROUND-COLOR: rgb(206,222,189)
}
outlineBox {
	MARGIN-TOP: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; COLOR: black; PADDING-TOP: 6px; FONT-FAMILY: Trebuchet MS, Verdana, Arial; BACKGROUND-COLOR: rgb(206,222,189)
}
.clearBox {
	BACKGROUND-COLOR: transparent
}
.outlineBox {
	BACKGROUND-COLOR: transparent
}
.outlineBox {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid
}
.dkOliveBox {
	COLOR: white; BACKGROUND-COLOR: #6b795a
}
.mdOliveBox {
	BACKGROUND-COLOR: #adba8c
}
.ltOliveBox {
	BACKGROUND-COLOR: #cedebd
}
.dkBlueBox {
	COLOR: white; BACKGROUND-COLOR: #003658
}
.mdBlueBox {
	COLOR: white; BACKGROUND-COLOR: #1f669b
}
.ltBlueBox {
	BACKGROUND-COLOR: #c0d4e6
}
.dkBlueGreenBox {
	COLOR: white; BACKGROUND-COLOR: #1e4552
}
UL.stylizedList {
	LIST-STYLE-IMAGE: url(../images/liBullet.gif)
}
.headerEndCap {
	WIDTH: 50%; BACKGROUND-COLOR: #1f669b
}
TD .imgcell {
	DISPLAY: block
}
.menuBox {
	COLOR: white; BACKGROUND-COLOR: rgb(30,69,82)
}
.cellPadding {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.leftPadding {
	PADDING-RIGHT: 10px; PADDING-LEFT: 7px
}
.topPadding {
	PADDING-TOP: 6px
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
DIV.simpleDropPanel {
	BORDER-RIGHT: #5b5b5b 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #5b5b5b 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #5b5b5b 1px solid; WIDTH: 200px; PADDING-TOP: 2px; BORDER-BOTTOM: #5b5b5b 1px solid; HEIGHT: 80px
}
SPAN.indentedLine {
	DISPLAY: block; MARGIN-LEFT: 110px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A.backToSearch:link {
	FONT-SIZE: 14px; MARGIN: 6px 0px; TEXT-DECORATION: underline
}
A.backToSearch:hover {
	FONT-SIZE: 14px; MARGIN: 6px 0px; TEXT-DECORATION: underline
}
A.backToSearch:visited {
	FONT-SIZE: 14px; MARGIN: 6px 0px; TEXT-DECORATION: underline
}
A.no_link_hover:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV.copyright {
	BORDER-TOP: #ddd 1px solid; MARGIN-TOP: 55px; FONT-SIZE: 8px; MARGIN-LEFT: 200px; WIDTH: 45%; COLOR: #999
}
.copyright TABLE {
	FONT-SIZE: 8px; COLOR: #999
}
